nav{
  margin: 2vh 10vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}



nav div a{
  padding: 0 1vw;
  margin: 0 1vw;
  border: 1px solid black;
  border-radius: 25px;
  text-decoration: none;
  color: #000;
}

nav>a{
  text-decoration: none;
  font-size: 32px;
}
