@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');



.main{
  margin: 10vh 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  font-family: "Poppins";
}

.welcome-text, .form-div{
  margin: 0 10vw;
  display: flex;
  flex: left;
  flex-direction: column;
  align-items: flex-start;
}

.welcome-text{
  line-height: 0px;
}

.form-div{
  align-items: center;
}

#welcome-to-text{
  font-size: 32px;
}

#blood-bank-text{
  font-size: 64px;
  font-weight: 900;
}

.field{
  width: 20vw;
  padding: 2vh 0;
  margin: 2vh 0;
  border: 1px solid gray;
  border-radius: 12px;
  background-color: white;
  text-align: center;
}

.submit-button{
  border: none;
  margin: 2vh 0;
  width: 20vw;
  padding: 2vh 0;
  background-color: red;
  color: white;
  border-radius: 12px;
}

.hlogin-div{
  align-items: center;
}
 
#hospital-login-text{
  font-size: 64px;
  font-weight: 900;
  text-align: center;
}

.box{
  border: 2px solid gray;
  border-radius: 12px;
  padding-bottom: 50px;
}

.dashboard-text{
  font-size: 64px;
  font-weight: 900;
  text-align: center;
  font-family: "Poppins";
  margin: 0px;
  margin-top: 2%;
}

.no-margin{
  margin: 1%;
  justify-content: start;
}

.container{
  margin-left: 4%;
  margin-top: 2%;
  margin-right: 3%;
  display: flex;
  align-items: center;
  flex-direction: row;
  font-family: "Poppins";
 
  width:63%;
  height:auto;
  background-color: white;
  flex-flow: wrap; 
}
 
.bloody-box{
  background-color: white;
  text-align:center;
  height:140px;
  width:140px;
  border:3px solid #fd5e5e;
  border-radius: 5px 50px 5px ;
  float: left;
  margin:35px;
  background-color: #fd5e5e;
}

.blood-group{
  font-family: "Poppins";
  font-size: 30px;
  margin-top: 18%;
  margin-bottom: 0;
  margin-left: 5%;
}

.radio-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

#add, #sub{
  margin-right: 5%;
  font-size: 90%;
}

.edit-text{
  margin-top: 0;
  margin-bottom: 4%;
  font-family: "Poppins";
  font-size: 27px;
}